@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #3BA2E0 10%,#34F3F7);
}
main{
    background-color: rgb(172, 233, 241);
    border-radius: 10px;
    box-shadow: 3px 5px 15px #3083b6d7;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #32e6e9;
    text-align: center;
    text-shadow: 1px 1px 2px #269fa1e7;
}
h2{
    color: #3BA2E0;
}
p{
    text-align: justify;
}